.main-content {
  flex:1;
  /* padding:0px 40px; */
}
.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
  background-color: #150B59;
  padding: 25px 40px;
  

}
.header h1 {
    font-size:34px;
     font-weight:bold;
     color: white;
    }
.header .search {
  padding:8px 12px;
  border-radius:6px;
  border:1px solid #D1D5DB;
}

/* KPI Cards */
.kpi-cards {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  margin-bottom:10px;
  padding: 25px 40px;
}
.card {
  background:#150B59;
  padding:20px;
  border-radius:10px;
  text-align: center;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}
.card-title {
    font-size:20px;
    color: white;
    margin-bottom:10px;
    font-weight:bold;
}
.card .card-title .ri-file-edit-fill , .ri-money-euro-circle-fill ,.ri-community-line , .ri-bar-chart-2-line{
  
    font-size: 27px;
    margin-right: 3px;
    color: #F59E0B;
    width: 20px;
}
.card-value {
    color:#F59E0B;
    font-size:24px;
}

/* Chart section */
.chart-section {
  background:white;
   padding: 25px 40px;
   margin: 20px 60px;
   

  border-radius:10px;
  box-shadow:0 0px 10px #150B59;
}
.circle-chart {
  width:150px;
  height:150px;
  border-radius:50%;
  /* border:10px solid #3B82F6; */
  position:relative;
  margin:0 auto 20px;
}
.circle-chart {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;

  /* donut colors */
  background: conic-gradient(
    #3B82F6 0deg 220deg,   /* bleu */
    #10B981 220deg 280deg,/* vert */
    #FACC15 280deg 320deg,/* jaune */
    #F59E0B 320deg 360deg /* orange */
  );
}

/* hole blanc au centre */
.circle-chart::before {
  content: "";
  position: absolute;
  inset: 18px;
  background: #ffffff;
  border-radius: 50%;
}

/* pourcentage au centre (code dyalek تقريباً) */
.circle-chart .percent { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: 600;
  color: #1F2937;
  z-index: 1;
}


/* Legend */
.chart-legend {
  list-style:none;
  display:flex;
  justify-content:space-around;
}
.chart-legend li {
  display:flex;
  align-items:center;
  gap:6px;
  font-size:14px;
}
.chart-legend .dot {
  width:12px;
  height:12px;
  border-radius:50%;
  display:inline-block;
}
.dot.yellow {
    background:#FACC15;
}
.dot.blue {
    background:#3B82F6;
}
.dot.green {
    background:#10B981;
}
.dot.orange {
    background:#F97316;
}

/* Responsive */
@media(max-width:1024px){
  .kpi-cards {grid-template-columns:repeat(2,1fr);}
}
@media(max-width:640px){
  body {flex-direction:column;}
  .sidebar {width:100%; flex-direction:row; overflow-x:auto;}
  .main-content {padding:20px;}
  .kpi-cards {grid-template-columns:1fr;}
}
