.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 2 / 10 / 3 / 12;
}
.div2 {
  grid-area: 1 / 2 / 8 / 12;
    display: grid;
  place-items: center;
  width: 85%;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background-color: #F1F1F1;
}
.div1 button {
  font-size: 19px;
  background: #f27127;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  color: white;
}
th,
td {
  padding: 8px;
}
table{
    border-collapse: separate;
  border-spacing: 70px 0px;
}


