* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #150b59;
    padding: 25px 40px;
    width: 100%;
}

.header h1 {
    font-size: 34px;
    font-weight: bold;
    color: white;
    border-left: 4px solid #f97316;
    padding-left: 12px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    background-color: #f97316;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-add {
    margin-top: 10px;
    width: 40%;
    padding: 15px;
    background-color: #f4792d;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

table {
    width: 700px;
    border-collapse: collapse;
    margin: 30px auto;
    box-shadow: 0 0 10px #d6d6d6;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #d6d6d6;
}

thead tr,
tbody tr {
    display: flex;
    padding: 10px;
}

th,
td {
    flex: 1;
    text-align: center;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: white;
    border-radius: 10px;
    gap: 20px;
    width: 700px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

input,
select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.hidden {
    display: none;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
