* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-content {
    flex: 1;
}
.header h1 {
    font-size: 34px;
    font-weight: bold;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #150b59;
    padding: 25px 40px;
    width: 100%;

    align-items: center;
}

.header h1 {
    border-left: 4px solid #f97316;
    padding-left: 12px;
}

.button {
    background-color: #f97316;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
table {
    width: 900px;
    border-collapse: collapse;
    overflow: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px #d6d6d6;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}
thead,
tbody {
    display: block;
}
thead {
    background-color: #d6d6d6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
tr {
    display: block;
    padding: 10px;
}
th,
td {
    display: inline-block;
    text-align: center;
}
th:first-child,
td:first-child {
    width: 90px;
}
th:not(:first-child),
td:not(:first-child) {
    width: 160px;
}
tbody tr:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
}


/* Base style for all inputs */
input {
    flex: 1; /* Allows inputs to grow and fill available space */
    padding: 12px 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
}

/* Ensures the salary input takes up the full row */
.full-width {
    width: 100%;
    box-sizing: border-box; /* Includes padding in the width calculation */
}

/* The orange button */
.button-add {
    margin-top: 10px;
    width: 40%;
    padding: 15px;
    background-color: #f4792d;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

/* The main card */
.form-card {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: center; /* Centers items horizontally */
    padding: 40px;
    background: white;
    border-radius: 10px;
    gap: 20px; /* Space between rows */
    width: 700px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* The row containing the two name inputs */
.input-row {
    display: flex;
    width: 100%;
    gap: 10px; /* Space between the two inputs */
}
/* overlay style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden {
    display: none;
}

select {
    width: 48%;
    border-color: #ced4da;
    border-radius: 8px;
}
.error {
border: 2px solid red;
}
