.main-content {
  flex:1;
}
.header h1{
     font-size:34px;
     font-weight:bold;
     color: white;
}
.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
  background-color: #150B59;
  padding: 25px 40px;
  width: 100%;
 
  align-items: center;
}
 
.header h1 {
  border-left: 4px solid #f97316; 
  padding-left: 12px;
}

.button{
  background-color: #f97316; 
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.top {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;  
}
table{
     width: 700px;
    border-collapse: collapse;
     overflow: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px #d6d6d6;
    border-radius: 10px;
    margin: 0 auto; 
    margin-top: 30px;    
} 
 thead,
 tbody {
    display: block;
 }         
thead {
background-color: #d6d6d6;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}          
 tr {
    display: block;
    padding: 10px;
 }           
  th,
    td {
    display: inline-block;
    text-align: center;
 }                 
   th:first-child,
            td:first-child {
                width: 70px;
            }         
  th:not(:first-child),
            td:not(:first-child) {
                width: 160px;
            }          
  tbody {
    tr:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
    }
            }
          


