.main-content {
  flex:1;
}
.header h1{
     font-size:34px;
     font-weight:bold;
     color: white;
}
.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
  background-color: #150B59;
  padding: 25px 40px;
  width: 100%;
 
  align-items: center;
}
 
.header h1 {
  border-left: 4px solid #f97316; 
  padding-left: 12px;
}

.button{
  background-color: #f97316; 
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.top {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;  
}



