* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    background: #f9fafb;
    color: #1f2937;
}

.main-content {
  flex:1;
  /* padding:0px 40px; */
}
.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
  background-color: #150B59;
  padding: 25px 40px;
  

}
.header h1 {
    font-size:34px;
     font-weight:bold;
     color: white;
     
    }

.sidebar {
  width:220px;
  background:#150B59;
  color:white;
  display:flex;
  flex-direction:column;
  padding:20px;
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.sidebar .logo img{
  width: 35px;
}
.sidebar .menu li {
  display:flex;
  align-items:center;
  gap:15px;
  padding:10px 12px;
}

.sidebar .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.sidebar .menu li.active,
.sidebar .menu li:hover {
    background: #f27127;
}
.sidebar .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.sidebar .menu .ri-dashboard-line,
.ri-organization-chart,
.ri-team-line,
.ri-file-warning-line,
.ri-history-line {
    font-size: 27px;
    margin-right: 3px;
    color: white;
    width: 20px;
}
@media (max-width:640px){
  body {
    flex-direction: column;
  }

  .sidebar {
    width:100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar .menu {
    flex-direction: row;
    gap: 10px;
  }
}


.main-content {
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #150b59;
    padding: 25px 40px;
}
.header h1 {
    font-size: 34px;
    font-weight: bold;
    color: white;
    padding-left: 12px;
    border-left: 4px solid #f27127;
}
