* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    background: #f9fafb;
    color: #1f2937;
}

@media (max-width: 767px) {
    body {
        flex-direction: column;
    }
}

.sidebar {
    width: 220px;
    background: #150b59;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f27127;
    }
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

@media (max-width: 767px) {
    .sidebar .menu {
        align-items: center;
        padding: 11px 0;
        width: 185px;
        border-radius: 5px;
        gap: 10px;
        display: none;
        position: fixed;
        top: 68px;
        right: 9px;
        background-color: #f27127;
    }
    .sidebar .menu.show-menu {
        display: flex;
    }
    .sidebar .menu::before {
        content: "";
        position: absolute;
        top: -27px;
        right: 10px;
        border-width: 14px;
        border-style: solid;
        border-color: transparent transparent #f27127 transparent;
    }
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

@media (max-width: 767px) {
    .sidebar .logo {
        font-size: 31px;
        margin-bottom: 0;
    }
}

.sidebar .logo img {
    width: 35px;
}

.sidebar .menu li {
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar .menu li.active,
.sidebar .menu li:hover {
    background: #f27127;
}

@media (max-width: 767px) {
    .sidebar .menu li.active,
    .sidebar .menu li:hover {
        background: #150b59;
    }
}

@media (max-width: 767px) {
    .sidebar .menu li {
        width: 90%;
        justify-content: center;
    }
}

.sidebar .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width: 767px) {
    .sidebar .menu li a {
        font-size: 13px;
        padding: 9px 6px;
        gap: 3px;
    }
    .sidebar .menu li a i {
        font-size: 20px;
    }
}

.sidebar .menu i {
    font-size: 27px;
    margin-right: 3px;
    color: white;
    width: 20px;
}

@media (max-width: 767px) {
    .sidebar .menu li a i {
        font-size: 20px;
    }
}

.sidebar #menu-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    display: none;
}

@media (max-width: 767px) {
    .sidebar #menu-icon {
        display: block;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #150b59;
    padding: 25px 40px;
}

@media (max-width: 767px) {
    .header {
        justify-content: center;
        padding: 13px 40px;
    }
}

.header h1 {
    font-size: 34px;
    font-weight: bold;
    color: white;
}

@media (min-width: 768px) {
    .main-content {
        width: calc(100% - 220px);
    }
}

.header h1 {
    font-size: 34px;
    font-weight: bold;
    color: white;
    padding-left: 12px;
    border-left: 4px solid #f27127;
}

@media (max-width: 767px) {
    .header h1 {
        padding-left: 0;
        border-left: none;
        border-bottom: 4px solid #f27127;
    }
}

.page-content {
    padding: 0 40px;
}

.table-section {
    width: 100%;
    overflow: auto;
}
