
* {margin:0; padding:0; box-sizing:border-box; font-family:"Poppins", sans-serif;}
body {display:flex; min-height:100vh; background:#F9FAFB; color:#1F2937;}


.sidebar {
  width:220px;
  background:#150B59;
  color:white;
  display:flex;
  flex-direction:column;
  padding:20px;
  /* margin-right: 4px; */
}
.sidebar .logo {
  font-size:24px;
  font-weight:bold;
  margin-bottom:30px;
}
.sidebar .menu li {
  list-style:none;
  margin-bottom:20px;
  font-size:16px;
  cursor:pointer;
  display:flex;
  align-items:center;
  gap:10px;
  padding:8px 12px;
  /* border-radius:6px; */
  transition: background 0.2s;
}
.sidebar .menu li a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}
.sidebar .menu li.active,
.sidebar .menu li:hover {
  background:#F27127;
}
.sidebar .menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sidebar .menu .ri-dashboard-line, .ri-organization-chart, .ri-team-line ,.ri-file-warning-line , .ri-history-line {
   font-size: 27px;
    margin-right: 3px;
    color: white;
    width: 20px;
}

